name: BACKEND CI/CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        working-directory: ./Backend/Backend
        run: dotnet restore

      - name: Build
        working-directory: ./Backend/Backend
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        working-directory: ./Backend/Backend
        run: dotnet publish --configuration Release --no-build --output ./publish

      - name: Copy source to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "Backend/Backend/publish/*"
          target: ${{ secrets.PROJECT_DIR }}/backend
          strip_components: 3

      - name: Restart Backend
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.PROJECT_DIR }}
            docker compose restart backend || docker compose up -d --build backend

